///
/// Custom template typography
/// 
/// 
body{
    letter-spacing: $letter-spacing-body;
}
body,html{
    height: 100%;
}
*, *:visited, *:focus, *:active, *:hover{
    outline-width:0px !important;
}
b,
strong {
  font-weight: $font-weight-semibold;
}