<!-- Back to Top button -->
<a data-tippy-placement="left" data-tippy-content="Scroll to Top" href="#"
    class="toTop btn text-body bg-primary-subtle border-0 p-0 width-4x height-4x shadow d-flex align-items-center justify-content-center">
    <span class="material-symbols-sharp align-middle">
        arrow_upward
    </span>
</a>


<!--Footer Start-->
<footer id="footer" class="footer border-top position-relative">
    <div class="container pt-9 pb-5 position-relative z-index-1">
        <div class="row">
            <!--Footer col-->
            <div class="col-md-7 col-lg-3 mb-7">
                <a href="#" class="d-block width-3x mb-5">
                    <img src="assets/img/logo-a.svg" class="img-fluid footer-logo-light" alt="">
                    <img src="assets/img/logo-a-white.svg" class="img-fluid footer-logo-dark" alt="">
                </a>
                <hr>
                <small class="text-muted mb-2 d-block">
                    Enquiries
                </small>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!mailto:yourmail.domain.com">info@domian.com</a>
                    </li>
                </ul>
                <hr>
                <small class="text-muted mb-3 d-block">
                    Join Us Today
                </small>
                <a href="#!" class="btn btn-secondary">Upgrade to Pro</a>
            </div>
            <!--Footer col-->
            <div class="col-md-4 col-lg-2 ms-md-auto mb-7 col-7">
                <h6 class="mb-4">Links</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            About us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Newsletter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Career <span class="badge bg-success rounded-pill ms-1">Hiring</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Privacy policy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Terms & conditions
                        </a>
                    </li>
                </ul>
            </div>
            <!--Footer col-->
            <div class="col-md-4 col-lg-2 ms-lg-auto mb-7 col-5">
                <h6 class="mb-4">Topics</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Design
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Development
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Fashion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Business
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Nature
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Travel
                        </a>
                    </li>
                </ul>
            </div>
            <!--Footer col-->
            <div class="col-md-8 col-lg-4 mb-7">
                <h6 class="mb-4">Popular Articles</h6>
                <ul class="list-unstyled">
                    <li class="d-flex card-hover mb-4 align-items-center">
                        <div class="me-3">
                            <a href="#!" class="d-block width-6x rounded-3 overflow-hidden">
                                <img src="assets/img/sm2.jpg" alt="" class="img-fluid img-zoom">
                            </a>
                        </div>
                        <div>
                            <a href="#!" class="lh-sm d-block mb-2">Tips for creating a long-lasting
                                partnership with your startup</a>
                            <span class="d-block small text-muted">02 Sep 2022</span>
                        </div>
                    </li>
                    <li class="d-flex card-hover mb-4 align-items-center">
                        <div class="me-3">
                            <a href="#!" class="d-block width-6x rounded-3 overflow-hidden">
                                <img src="assets/img/sm1.jpg" alt="" class="img-fluid img-zoom">
                            </a>
                        </div>
                        <div>
                            <a href="#!" class="lh-sm d-block mb-2">Functional programming in python for
                                beginners</a>
                            <span class="d-block small text-muted">18 Sep 2022</span>
                        </div>
                    </li>
                    <li class="d-flex card-hover align-items-center">
                        <div class="me-3">
                            <a href="#!" class="d-block width-6x rounded-3 overflow-hidden">
                                <img src="assets/img/sm3.jpg" alt="" class="img-fluid img-zoom">
                            </a>
                        </div>
                        <div>
                            <a href="#!" class="lh-sm d-block mb-2">Modern and well coded bootstrap themes you should
                                buy</a>
                            <span class="d-block small text-muted">19 Aug 2022</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="mb-5 mt-0">
        <div class="row">
            <div class="col-sm-7 mb-3 mb-sm-0">
                <ul class="list-unstyled mb-0">
                    <li class="dropup d-table">
                        <a href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false"
                            class="dropdown-toggle small">
                            United States (English)
                        </a>

                        <!--Dropdown lang menu-->
                        <div class="dropdown-menu mb-3 dropdown-menu-lg-start" style="margin: 0px;">
                            <a href="#!" class="d-flex align-items-center dropdown-item active">
                                <img src="assets/img/country/us.svg" class="width-2x me-2" alt="">
                                English (US)
                            </a>
                            <a href="#!" class="d-flex align-items-center dropdown-item">
                                <img src="assets/img/country/es.svg" class="width-2x me-2" alt="">
                                Spanish
                            </a>
                            <a href="#!" class="d-flex align-items-center dropdown-item">
                                <img src="assets/img/country/gb.svg" class="width-2x me-2" alt="">
                                English (UK)
                            </a>
                            <a href="#!" class="d-flex align-items-center dropdown-item">
                                <img src="assets/img/country/fr.svg" class="width-2x me-2" alt="">
                                French
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 small text-sm-end">
                <span class="d-block lh-sm text-muted">© Copyright
                    <script>
                        document.write(new Date().getFullYear())

                    </script>. Assan
                </span>
            </div>
        </div>
    </div>
    <!--container-->
</footer>
