<!--FavIcon-->
<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0">

<!--Aos Animations-->
<link href="assets/vendor/node_modules/css/aos.css" rel="stylesheet">

<!--Main Style-->
<link href="assets/css/theme.min.css" rel="stylesheet">