  <!--:page-header:-->
  <header class="navbar-main z-index-fixed border-bottom navbar navbar-expand-md px-3 px-lg-7 py-0 py-lg-2">
    <div class="container-fluid px-0 d-flex flex-wrap justify-content-between">
        
        <a class="navbar-brand d-lg-none flex-shrink-0 d-flex justify-content-center width-3x h-auto align-items-center"
        href="index.html">
        <img src="assets/img/logo-a.svg" alt="" class="img-fluid logo-light">
        <img src="assets/img/logo-a-white.svg" alt="" class="img-fluid logo-dark">
    </a>
        <div class="d-flex flex-grow-1 justify-content-end align-items-center order-md-last">
            
             <!--sidebar toggler button-->
             <button
             class="btn btn-sm btn-primary d-lg-none shadow-none order-last ms-2"
             type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-sidebar"
             aria-controls="offcanvas-sidebar">
             <span class="material-symbols-sharp align-middle">
                menu
                </span>
         </button>
            <div class="nav-item d-flex height-5x align-items-center d-md-none me-2 me-lg-0">
                <a href="#searchCollapse" data-bs-target="#searchCollapse" data-bs-toggle="collapse"
                    class="btn btn-link nav-link py-2 px-2 d-flex align-items-center search-link lh-1">
                    <span class="material-symbols-sharp align-middle">
                        search
                        </span>
                </a>
            </div>
            <div class="d-flex dropdown height-5x nav-item align-items-center">
                <a href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                class="btn btn-link nav-link py-1 px-1 px-md-2 dropdown-toggle d-flex align-items-center">
                <img src="assets/img/avatar/1.jpg" class="width-3x h-auto rounded-2"
                    alt="">
                <small class="d-none d-md-block ms-2">Emily doe</small>
            </a>
            <div class="dropdown-menu dropdown-menu-md-end ms-n6 ms-md-0 position-absolute">
                <a href="#!" class="dropdown-item d-flex align-items-center">
                    <span class="material-symbols-sharp align-middle me-3">
                        manage_accounts
                        </span>  Profile
                </a>
                <a href="bookmarks.html" class="dropdown-item d-flex align-items-center">
                    <span class="material-symbols-sharp align-middle me-3">
                        bookmarks
                        </span> Bookmarks
                </a>
                <a href="write.html" class="dropdown-item d-flex align-items-center">
                    <span class="material-symbols-sharp align-middle me-3">
                        edit_document
                        </span>  Write
                </a>
                <a href="page-sign-in.html" class="dropdown-item d-flex align-items-center">
                    <span class="material-symbols-sharp align-middle me-3">
                        logout
                        </span>  Sign Out
                </a>
            </div>
            </div>
            <div class="d-flex height-5x ms-2 dropdown nav-item align-items-center">
                <a href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        class="btn btn-link nav-link py-2 px-2 dropdown-toggle d-flex align-items-center">
                        <span class="material-symbols-sharp align-middle">
                            category
                            </span>
                    </a>
                    <div class="dropdown-menu me-n6 me-lg-0 dropdown-menu-end position-absolute">
                        <div class="dropdown-header">Pages</div>
                        <a href="page-sign-in.html" class="dropdown-item d-flex align-items-center">
                            Sign In
                        </a>
                        <a href="page-sign-up.html" class="dropdown-item d-flex align-items-center">
                            Sign Up
                        </a>
                        <a href="page-plans.html" class="dropdown-item d-flex align-items-center">
                            Plans
                        </a>
                        <a href="page-writers.html" class="dropdown-item d-flex align-items-center">
                            Writers
                        </a>
                        <a href="page-writer.html" class="dropdown-item d-flex align-items-center">
                            Writer
                        </a>
                        <a href="post-details.html" class="dropdown-item d-flex align-items-center">
                            Post details
                        </a>
                    </div>
            </div>
              <!--:Dark Mode:-->
        <div class="nav-item height-5x d-flex align-items-center dropdown ms-2">
            <button class="btn btn-link nav-link py-2 px-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
              <span class="theme-icon-active d-flex align-items-center">
                <span class="material-symbols-sharp align-middle"></span>
              </span>
            </button>
             <!--:Dark Mode Options:-->
          <ul class="dropdown-menu me-n3 me-md-0 dropdown-menu-end" aria-labelledby="bd-theme" style="--bs-dropdown-min-width: 9rem;">
            <li class="mb-1">
              <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light">
                  <span class="theme-icon d-flex align-items-center">
                    <span class="material-symbols-sharp align-middle me-2">
                      lightbulb
                      </span>
                    </span>
                Light
              </button>
            </li>
            <li class="mb-1">
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                  <span class="theme-icon d-flex align-items-center">
                    <span class="material-symbols-sharp align-middle me-2">
                      dark_mode
                      </span>
                    </span>
                Dark
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
                  <span class="theme-icon d-flex align-items-center">
                    <span class="material-symbols-sharp align-middle me-2">
                      invert_colors
                      </span>
                    </span>
                Auto
              </button>
            </li>
          </ul>
          </div>
        </div>

        <!--Search collapse (visible on desktop laptop)-->
        <div class="collapse collapse-search navbar-collapse" id="searchCollapse">
            <form>
                <div class="dropdown mb-3 mb-md-0">
                    <span
                        class="position-absolute start-0 top-50 translate-middle-y ms-3 opacity-75">
                        <span class="material-symbols-sharp align-middle">search</span>
                    </span>
                    <input type="text" data-bs-toggle="dropdown" placeholder="Search news..."
                        class="form-control ps-6">
                    <!--:Search dropdown:-->
                    <div class="dropdown-menu rounded-top-0 w-100 dropdown-menu-start">
                        <div class="dropdown-header border-bottom">
                            <span class="material-symbols-sharp align-middle">
                                local_fire_department
                                </span> Top Stories
                           </div>
    
                           <!--:Search dropdown news list:-->
                           <div class="list-group list-group-flush">
                            <!--:Item:-->
                            <a href="#!" class="list-group-action list-group-item p-3">
                                    <div class="d-flex flex-column">
                                        <h6 class="fw-normal mb-2">5 Technologies That Could Be the Next Big Thing</h6>
                                        <small class="text-muted flex-shrink-0">Technology</small>
                                    </div>
                                </a>
                            <!--:Item:-->
                             <a href="#!" class="list-group-action list-group-item p-3">
                                <div class="d-flex flex-column">
                                    <h6 class="fw-normal mb-2">Is TikTok a Security Risk for Businesses?</h6>
                                    <small class="text-muted flex-shrink-0">Business</small>
                                </div>
                                </a>
                            <!--:Item:-->
                             <a href="#!" class="list-group-action list-group-item p-3">
                                <div class="d-flex flex-column">
                                    <h6 class="fw-normal mb-2">Crypto Market Outlook: Looking Back to Forge New Milestones</h6>
                                    <small class="text-muted flex-shrink-0">Crypto</small>
                                </div>
                                </a>
                            </div>
    
                           <div class="dropdown-header pt-4 mb-2 border-top">
                            <span class="material-symbols-sharp align-middle">
                                tag
                                </span> Popular Topics
                            </div>
     
                            <!--:Search dropdown categories list:-->
                            <div class="d-flex flex-wrap gap-2 pt-0 p-3">
                             <a href="#!" class="btn btn-sm text-body bg-body-tertiary">Sports</a>
                             <a href="#!" class="btn btn-sm text-body bg-body-tertiary">Health</a>
                             <a href="#!" class="btn btn-sm text-body bg-body-tertiary">Technology</a>
                             <a href="#!" class="btn btn-sm text-body bg-body-tertiary">Fashion</a>
                             <a href="#!" class="btn btn-sm text-body bg-body-tertiary">NFT</a>
                             <a href="#!" class="btn btn-sm text-body bg-body-tertiary">Business</a>
                             <a href="#!" class="btn btn-sm text-body bg-body-tertiary">Politics</a>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>
