 <!--:Sidebar Menu:-->
<aside class="page-sidebar">
    <div class="offcanvas-lg offcanvas-start" id="offcanvas-sidebar">   
        <div class="offcanvas-header d-block p-0">
            <a class="sidebar-brand flex-shrink-0 d-flex justify-content-center height-6x w-100 align-items-center"
            href="index.html">
            <img src="assets/img/logo-a-white.svg" alt="" class="img-fluid">
        </a>
        </div>
        <!--:Sidenav:-->
        <div class="offcanvas-body flex-grow-1 p-0">
            <nav
            class="flex-grow-1 d-flex flex-column justify-content-center gap-1 gap-lg-2 align-items-center py-3">
            <a data-tippy-placement="right" data-tippy-content="Home" href="index.html"
                class="width-4x height-4x d-flex align-items-center justify-content-center rounded-3 sidenav-link  @@if (context.page === 'home') {active}">
                <span class="material-symbols-sharp align-middle">
                    home
                    </span>
            </a>
            <div class="dropdown">
                <a href="notifications.html" data-tippy-placement="right" data-tippy-content="Notifications"
                class="width-4x tippy-dropdown height-4x d-flex align-items-center justify-content-center rounded-3 sidenav-link @@if (context.page === 'notifications') {active}">
                <span class="material-symbols-sharp align-middle">
                    notifications
                    </span>
            </a>
            </div>
            <a data-tippy-placement="right" data-tippy-content="Bookmarks" href="bookmarks.html"
                class="width-4x height-4x d-flex align-items-center justify-content-center rounded-3 sidenav-link @@if (context.page === 'bookmarks') {active}">
                <span class="material-symbols-sharp align-middle">
                    bookmarks
                    </span>
            </a>
            <a data-tippy-placement="right" data-tippy-content="Topics" href="topics.html"
                class="width-4x height-4x d-flex align-items-center justify-content-center rounded-3 sidenav-link @@if (context.page === 'topics') {active}">
                <span class="material-symbols-sharp align-middle">
                    tag
                    </span>
            </a>
            <a data-tippy-placement="right" data-tippy-content="Write" href="write.html"
                class="width-4x height-4x d-flex align-items-center justify-content-center rounded-3 sidenav-link @@if (context.page === 'write') {active}">
                <span class="material-symbols-sharp align-middle">
                    edit_document
                    </span>
            </a>
        </nav>
        </div>
        <div class="mt-auto offcanvas-footer">
            
        </div>
    </div>
</aside>
