.theme-icon-active .material-icons{
    font-family: "Material Symbols Sharp";
}
[data-bs-theme=dark]{
    .theme-icon-active{
        .material-symbols-sharp::before{
            content: "\e51c";
        }
    }
}
[data-bs-theme=auto]{
    .theme-icon-active{
        .material-symbols-sharp::before{
            content: "\e891";
        }
    }
}
[data-bs-theme=light]{
    .theme-icon-active{
        .material-symbols-sharp::before{
            content: "\e0f0";
        }
    }
}