


$utilities: () !default;
$utilities: map-merge(
  $utilities,(
      "width-px": (property: width,
            class: width,
            values: (5:5px,
                10:10px,
                15:15px,
                20:20px,
                25:25px,
                30:30px,
                35:35px,
                40:40px,
                45:45px,
                50:50px,
                55:55px,
                60:60px,
                65:65px,
                70:70px,
                75:75px,
                80:80px,
                85:85px,
                90:90px,
                95:95px,
                100:100px,
                110:110px,
                120:120px,
                130:130px,
                140:140px,
                150:150px,
            )),
        "height-px": (property: height,
            class: height,
            values: (5:5px,
                10:10px,
                15:15px,
                20:20px,
                25:25px,
                30:30px,
                35:35px,
                40:40px,
                45:45px,
                50:50px,
                55:55px,
                60:60px,
                65:65px,
                70:70px,
                75:75px,
                80:80px,
                85:85px,
                90:90px,
                95:95px,
                100:100px,
                110:110px,
                120:120px,
                130:130px,
                140:140px,
                150:150px,
            )),
    "size-width": (property: width,
class: size,
values: (5:5px,
    10:10px,
    15:15px,
    20:20px,
    25:25px,
    30:30px,
    35:35px,
    40:40px,
    45:45px,
    50:50px,
    55:55px,
    60:60px,
    65:65px,
    70:70px,
    75:75px,
    80:80px,
    85:85px,
    90:90px,
    95:95px,
    100:100px,
    110:110px,
    120:120px,
    130:130px,
    140:140px,
    150:150px,
    160:160px,
)),
  "size-height": (property: height,
  class: size,
  values: (5:5px,
      10:10px,
      15:15px,
      20:20px,
      25:25px,
      30:30px,
      35:35px,
      40:40px,
      45:45px,
      50:50px,
      55:55px,
      60:60px,
      65:65px,
      70:70px,
      75:75px,
      80:80px,
      85:85px,
      90:90px,
      95:95px,
      100:100px,
      110:110px,
      120:120px,
      130:130px,
      140:140px,
      150:150px,
      160:160px,
  )),
  "border-end": map-merge(
    map-get($utilities, "border-end"),
    ( responsive: true ),
  ),
  "border-top": map-merge(
    map-get($utilities, "border-top"),
    ( responsive: true ),
  ),
  "z": map-merge(
    map-get($utilities, "z-index", "values"),
    (fixed: $zindex-fixed),
  ),
  "border-bottom": map-merge(
    map-get($utilities, "border-bottom"),
    ( responsive: true ),
  ),
  "border-start": map-merge(
    map-get($utilities, "border-start"),
    ( responsive: true ),
  ),
  "viewport-height": (
    property: height,
    class: vh,
    values: (25: 25vh,50: 50vh,75: 75vh,100: 100vh)
  ),

));
