//Replies show hide text update
.replies-collapse{
    position: relative;
   .material-symbols-sharp{
    display: inline-block;
    transition: all .2s;
   }
   &[aria-expanded=true]{
    .material-symbols-sharp{
        transform: rotate(180deg);
    }
   }
}