<!--Header horizontal start-->
<header class="navbar py-lg-0 navbar-expand-lg navbar-light navbar-horizontal fixed-top start-0 top-0 w-100 shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bolder text-reset fs-3" href="index.html">
        <!--Logo-icon-->
        <span class="sidebar-icon size-40 d-flex align-items-center justify-content-center fs-4 lh-1 text-white rounded-3 bg-gradient-primary fw-bolder"> A </span>
      </a>
        <div class="d-flex order-lg-last">
            <div class="order-lg-last ms-auto">
                <ul class="navbar-nav navbar-icon flex-row ms-auto d-flex align-items-center">
                  <!--:Dark Mode:-->
    <li class="nav-item dropdown h-100 me-2">
      <a href="#" class="nav-link dropdown-toggle d-flex align-items-center" id="bs-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
        <span class="theme-icon-active d-flex align-items-center">
          <span class="material-symbols-rounded align-middle"></span>
        </span>
      </a>
      <!--:Dark Mode Options:-->
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bs-theme" style="--bs-dropdown-min-width: 9rem;">
        <li class="mb-1">
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light">
              <span class="theme-icon d-flex align-items-center">
                <span class="material-symbols-rounded align-middle me-2">
                  lightbulb
                  </span>
                </span>
            Light
          </button>
        </li>
        <li class="mb-1">
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
              <span class="theme-icon d-flex align-items-center">
                <span class="material-symbols-rounded align-middle me-2">
                  dark_mode
                  </span>
                </span>
            Dark
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
              <span class="theme-icon d-flex align-items-center">
                <span class="material-symbols-rounded align-middle me-2">
                  invert_colors
                  </span>
                </span>
            Auto
          </button>
        </li>
      </ul>
    </li>
                  <li class="nav-item me-2 py-lg-3 d-flex align-items-center">
                    <a href="#!" class="btn btn-primary rounded-pill btn-sm">
                      <span class="material-symbols-rounded align-middle me-1 fs-5">
                        add
                        </span>Create
                    </a>
                  </li>
                    <li class="nav-item dropdown py-lg-3 me-3">
                      <a href="#" class="nav-link p-0 position-relative size-35 d-flex align-items-center justify-content-center rounded-circle" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                        <span class="material-symbols-rounded align-middle">
                          notifications
                          </span>
                        <span class="badge p-0 size-5 me-2 mt-1 rounded-circle d-flex align-items-center justify-content-center position-absolute end-0 top-0 bg-danger small"></span>
                      </a>
                      <div class="dropdown-menu mt-0 p-0 overflow-hidden dropdown-menu-end dropdown-menu-sm">
                        <div class="d-flex p-3 justify-content-between align-items-center border-bottom">
                          <h5 class="me-3 mb-0">Notifications</h5>
                          <div class="flex-shrink-0">
                            <a href="#!" class="btn btn-primary btn-sm">View All</a>
                          </div>
                        </div>
                        
                        <div style="height:290px" data-simplebar>
                          <div class="list-group list-group-flush mb-0">
                            <!--//Notification item start//-->
                             <a href="#" class="list-group-item list-group-item-action px-4 d-flex align-items-center">
                                <div class="d-block me-3">
                                  <div class="avatar avatar-status status-online">
                                    <img src="assets/media/avatars/01.jpg" class="img-fluid rounded-circle w-auto" alt="">
                                  </div>
                                </div>
                
                                <div class="flex-grow-1 flex-wrap pe-3">
                                  <span class="mb-0 d-block"><strong>Adam Danely</strong> assigned
                                    a task to
                                    you <strong>#PI-392</strong></span>
                                  <small class="text-body-secondary">Just now</small>
                                </div>
                              </a>
                            <!--//Notification item start//-->
                            <a href="#" class="list-group-item list-group-item-action px-4 d-flex align-items-center">
                                <div class="d-block me-3">
                                  <div class="avatar avatar-status status-offline">
                                    <img src="assets/media/avatars/06.jpg" class="img-fluid rounded-circle w-auto" alt="">
                                  </div>
                                </div>
                
                                <div class="flex-grow-1 flex-wrap pe-3">
                                  <span class="mb-0 d-block"><strong>Vivianna Kiser
                                    </strong> just posted <span>"Lorem ipsum is placeholder text
                                      used in the graphic, print,
                                      and industries.
                                      "</span></span>
                                  <small class="text-body-secondary">2h Ago</small>
                                </div>
                              </a>
                              <!--//Notification item start//-->
                             <a href="#" class="list-group-item list-group-item-action px-4 d-flex align-items-center">
                                <span class="d-block me-3">
                                  <span
                                    class="d-flex align-items-center justify-content-center lh-1 size-50 bg-success-subtle text-success rounded-circle">
                                    <span class="material-symbols-rounded align-middle">
                                      settings
                                      </span>
                                  </span>
                                </span>
                
                                <div class="flex-grow-1 flex-wrap pe-3">
                                  <span class="mb-0 d-block"><strong>Updated</strong> Your account
                                    password updated
                                    succuessfully</span>
                                  <small class="text-body-secondary">2h Ago</small>
                                </div>
                              </a>
                            <!--//Notification item start//-->
                            <a href="#" class="list-group-item list-group-item-action px-4 d-flex align-items-center">
                                <span class="d-block me-3">
                                  <span
                                    class="d-flex align-items-center justify-content-center lh-1 size-50 bg-danger-subtle text-danger rounded-circle">
                                    <span class="material-symbols-rounded align-middle">
                                      percent
                                      </span>
                                  </span>
                                </span>
                
                                <div class="flex-grow-1 flex-wrap pe-3">
                                  <span class="mb-0 d-block"><strong>Pro discount</strong> Upgrade
                                    to pro plan with 30%
                                    discount, Apply coupon <span class="badge bg-primary">PRO30</span></span>
                                  <small class="text-body-secondary">2h Ago</small>
                                </div>
                              </a>
                            </div>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item dropdown py-lg-3">
                      <a href="#" class="nav-link dropdown-toggle rounded-pill p-1 lh-1 pe-1 d-flex align-items-center justify-content-center" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                        <div class="d-flex align-items-center">
    
                          <!--Avatar with status-->
                          <div class="avatar-status status-online avatar sm">
                            <img src="assets/media/avatars/01.jpg" class="rounded-circle img-fluid" alt="">
                          </div>
                        </div>
                      </a>
    
                      <div class="dropdown-menu mt-0 pt-0 dropdown-menu-end overflow-hidden">
                        <!--User meta-->
                        <div class="position-relative overflow-hidden p-3 mb-3 border-bottom">
                          <h5 class="mb-1">Noah Pierre</h5>
                          <p class="text-body-secondary small mb-0 lh-1">Full stack developer</p>
                        </div>
                        <a href="#!.html" class="dropdown-item">  
                          <span class="material-symbols-rounded align-middle opacity-75 fs-4 me-2">
                          account_circle
                          </span>
                          Profile</a>
                        <a href="#!.html" class="dropdown-item">
                          <span class="material-symbols-rounded align-middle opacity-75 fs-4 me-2">
                            settings
                            </span>
                          Settings</a>
                        <a href="#!.html" class="dropdown-item">
                          <span class="material-symbols-rounded align-middle opacity-75 fs-4 me-2">
                            task
                            </span>
                          Tasks</a>
                        <hr class="mt-3 mb-1">
                        <a href="#!.html" class="dropdown-item d-flex align-items-center">
                          <span class="material-symbols-rounded align-middle opacity-75 fs-4 me-2">
                            logout
                            </span>
                          Sign out
                        </a>
                      </div>
                    </li>
                  </ul>
            </div>
            
            <button class="navbar-toggler border-0 shadow-none ms-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <!--Navbar collapse items-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item py-3 dropdown">
                  <form class="position-relative">
                      <input type="text" placeholder="Search..." class="form-control" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                      <div class="dropdown-menu dropdown-menu-sm mt-3 overflow-hidden p-0">
                        <div class="dropdown-header">Top Searches
                          <span class="material-symbols-rounded align-middle ms-2">
                            trending_up
                          </span>  
                        </div>
                      <div class="list-group list-group-flush">
                        <a href="#!" class="list-group-item list-group-item-action px-4 d-flex">
                          <img src="assets/media/brand-logos/github.svg" class="height-20 rounded-3 p-1 bg-dark w-auto me-3" alt="">
                          <span>Github repository</span>
                        </a>
                        <a href="#!" class="list-group-item list-group-item-action px-4 d-flex">
                          <img src="assets/media/brand-logos/jirasoftware.svg" class="height-20 w-auto me-3" alt="">
                          <span>Jira pending issues</span>
                        </a>
                        <a href="#!" class="list-group-item list-group-item-action px-4 d-flex">
                          <img src="assets/media/brand-logos/prosperops.svg" class="height-20 w-auto me-3" alt="">
                          <span>Prosperops development</span>
                        </a>
                      </div>
                      </div>
                  </form>
              </li>
              
            </ul>
          <ul class="navbar-nav me-lg-5">
              <li class="nav-item dropdown py-lg-3 me-lg-2">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dashboard
                  </a>
                  <ul class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="index.html">E-commerce</a></li>
                    <li><a class="dropdown-item" href="index-analytics.html">Analytics</a></li>
                    <li><a class="dropdown-item" href="index-project-management.html">Management</a></li>
                  </ul>
                </li>
            <li class="nav-item py-lg-3 me-lg-2">
              <a class="nav-link" href="#">Inbox</a>
            </li>
            <li class="nav-item py-lg-3 me-lg-2">
                <a class="nav-link" href="#">Messages</a>
              </li>
              <li class="nav-item py-lg-3">
                <a class="nav-link" href="#">Orders</a>
              </li>
          </ul>
        </div>
    </div>
</header>