<!--Favicon-->
<link rel="icon" href="assets/img/favicon.ico" type="image/ico">
<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
<!--Material symbols Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Aos Animations-->
<link href="assets/vendor/node_modules/css/aos.css" rel="stylesheet">
<!--Main Style-->
<link href="assets/css/theme.min.css" rel="stylesheet">