<nav class="navbar navbar-expand-lg navbar-transparent @@pagesitckyClass navbar-light">
    <div class="container-fluid px-xl-0 mx-xl-5">
        <a class="navbar-brand" href="index.html">
          <img src="assets/img/logo.svg" alt="" class="img-fluid logo-light">
          <img src="assets/img/logo-white.svg" alt="" class="img-fluid logo-dark">
        </a>
      <div class="d-flex align-items-center order-last order-lg-1 ms-lg-5">
        <div class="position-relative">
          <button type="button" data-bs-toggle="modal" data-bs-target="#modal_search" class="form-control d-none d-lg-flex position-relative d-flex align-items-center">
            <span class="material-icons align-middle fs-4 opacity-25 me-sm-2">search</span>
            <span class="d-none d-sm-block align-items-center small opacity-75">Search NFTs...</span>
          </button>
        </div>
        <!--Navbar toggler button-->
       <button class="navbar-toggler px-0 border-0 shadow-none ms-3 ms-lg-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="material-icons align-middle">menu</span>
      </button>
      </div>
      
      <ul class="d-flex order-lg-last ms-auto ms-lg-4 me-1 me-lg-0 flex-row navbar-nav align-items-center">
        <li class="nav-item">
          <a href="add-wallet.html" class="nav-link @@if (context.page === 'add-wallet') {active}">
            <span class="material-icons align-middle">
              account_balance_wallet
              </span>
          </a>
        </li>
        <li class="nav-item ms-3 dropdown">
          <a href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" class="nav-link dropdown-toggle">
            <span class="material-icons align-middle">
              account_circle
              </span>
          </a>
          <div class="dropdown-menu dropdown-menu-end position-absolute">
            <a href="#!" class="dropdown-item">
             <span class="material-icons align-middle me-2">
              account_circle
             </span> Profile
            </a>
            <a href="#!" class="dropdown-item">
              <span class="material-icons align-middle me-2">
               favorite
              </span> Favorites
             </a>
             <a href="#!" class="dropdown-item">
              <span class="material-icons align-middle me-2">
               visibility
              </span> Watchlist
             </a>
             <a href="#!" class="dropdown-item">
              <span class="material-icons align-middle me-2">
               category
              </span> My collection
             </a>
             <a href="#!" class="dropdown-item">
              <span class="material-icons align-middle me-2">
               manage_accounts
              </span> Settings
             </a>
             <div class="dropdown-divider"></div>
             <a href="#!" class="dropdown-item">
              <span class="material-icons align-middle me-2">
                logout
              </span> Logout
             </a>
          </div>
        </li>
        <li class="ms-3 d-lg-none">
          <a href="#modal_search" data-bs-toggle="modal" class="nav-link">
            <span class="material-icons align-middle">search</span>
          </a>
        </li>
      </ul>
      <div class="offcanvas order-lg-2 offcanvas-start" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header justify-content-end">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link @@if (context.page === 'explore') {active}" href="nft-explore.html">Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link @@if (context.page === 'collections') {active}" href="nft-collections.html">Collections</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle @@if (context.page === 'resources') {active}" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Resources
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="resourcesDropdown">
                <li><a class="dropdown-item @@activeclassHelp" href="resource-help-center.html">Help Center</a></li>
                <li><a class="dropdown-item @@activeclassBlog" href="resource-blog.html">Blog</a></li>
               </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link @@if (context.page === 'create') {active}" href="nft-create.html">Create</a>
            </li>
            
        <!--:Dark Mode:-->
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle d-flex align-items-center" id="bs-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
            <span class="theme-icon-active d-flex align-items-center">
              <span class="material-icons align-middle"></span>
            </span>
          </a>
          <!--:Dark Mode Options:-->
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bs-theme" style="--bs-dropdown-min-width: 9rem;">
            <li class="mb-1">
              <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light">
                  <span class="theme-icon d-flex align-items-center">
                    <span class="material-icons align-middle me-2">
                      lightbulb
                      </span>
                    </span>
                Light
              </button>
            </li>
            <li class="mb-1">
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                  <span class="theme-icon d-flex align-items-center">
                    <span class="material-icons align-middle me-2">
                      dark_mode
                      </span>
                    </span>
                Dark
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
                  <span class="theme-icon d-flex align-items-center">
                    <span class="material-icons align-middle me-2">
                      invert_colors
                      </span>
                    </span>
                Auto
              </button>
            </li>
          </ul>
        </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


  <!--Search Offcanvas start-->
  <div class="modal fade" id="modal_search" tabindex="-1" aria-labelledby="modal_searchLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content overflow-hidden">
      
      <div class="modal-body p-3">
        <form>
          <div class="position-relative">
            <span class="material-icons d-flex align-items-center opacity-25 justify-content-center width-4x h-100 position-absolute start-0 top-0">search</span>
            <input type="text" class="form-control py-3 ps-6 pe-6 form-control-lg" autofocus placeholder="Search Web3">
            <div class="position-absolute end-0 top-0 h-100 me-2 d-flex align-items-center">
              <div role="button" class="p-0 size-3x d-flex align-items-center justify-content-center z-index-1 position-relative" data-bs-dismiss="modal" aria-label="Close">
                <span class="material-icons">close</span>
              </div>
            </div>
          </div>
         </form>
         <div class="pt-4 px-2">
          <h6 class="mb-3">
            <span class="material-icons align-middle me-2 opacity-50">sell</span>
            Tags</h6>
            <div class="d-flex flex-wrap gap-2">
              <a href="#!" class="btn btn-sm text-body bg-body-secondary hover-lift-sm">Art</a>
              <a href="#!" class="btn btn-sm text-body bg-body-secondary hover-lift-sm">Sports</a>
              <a href="#!" class="btn btn-sm text-body bg-body-secondary hover-lift-sm">Music</a>
              <a href="#!" class="btn btn-sm text-body bg-body-secondary hover-lift-sm">Photography</a>
              <a href="#!" class="btn btn-sm text-body bg-body-secondary hover-lift-sm">Premium</a>
              <a href="#!" class="btn btn-sm text-body bg-body-secondary hover-lift-sm">Domain names</a>
              <a href="#!" class="btn btn-sm text-body bg-body-secondary hover-lift-sm">Collectibles</a>
              <a href="#!" class="btn btn-sm text-body bg-body-secondary hover-lift-sm">Trending cards</a>
            </div>
         </div>
      </div>
    </div>
   </div>
  </div>